.avatar {
  position: relative;
  display: inline-block;
  &::before {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 38px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid white;
  }
  &.online:before {
    background-color: #1dbf73;
  }
  &.offline:before {
    background-color: gray;
  }
}
